
<div class="well">
    <div class="">
        <h3>Enter your DO API v2 Bearer token</h3>
    </div>
    <div class="alert alert-warning" role="alert">
        <p>
            Your DO Bearer token will be transmitte during DO API calls only, i.e., sent via https from your browser directly to the DO API endpoint https://api.digitalocean.com. The webserver serving this application will NEVER EVER see your token!
        </p>
        <p>The token will be stored in your browser's local storage.</p>
    </div>

    <form name="tokenForm" novalidate>
        <div class="form-group">
            <label>Bearer token</label>
            <input name="token" class="form-control" ng-model="data.bearerToken" value="{{data.bearerToken}}" required />
            <span class="error" ng-show="tokenForm.token.$error.required">
                Please enter your DO API v2 Bearer token!
            </span>
        </div>
    </form>
    <p>
        <button ng-disabled="tokenForm.$invalid"ng-click="tokenValidation()"class="btn btn-info">Verify Token</button>
        <button ng-disabled="tokenForm.$invalid"ng-click="deleteToken()"class="btn btn-danger">Delete Token</button>
        <span class="pull-right text-muted"> {{data.validation.result}} </span>
    </p>
</div>