<style>
    .ng-invalid { background-color: lightpink; }
</style>
    <!-- left area -->
    <div class="well col-md-3" >

        <a href="#/setup"  ng-class="{'btn-warning':navigation.selectedMenuButton === 'setup'}"
            class="btn btn-default navbar-btn btn-block"
            ng-click="navigation.selectedMenuButton='setup'">
            Setup
        </a>
        <a href="#/create/droplet" ng-class="{'btn-warning':navigation.selectedMenuButton === 'create'}"
            class="btn btn-default navbar-btn btn-block" ng-show="data.bearerToken"
            ng-click="navigation.selectedMenuButton='create'">
            Manage Droplets
        </a>
        <a href="#/create/droplet" "
            class="btn btn-default navbar-btn btn-block" ng-show="data.bearerToken"
            ng-click="navigation.selectedMenuButton='create'; refreshAllDOInfos()">
            Refresh Infos
        </a>
        <!--      
        <a href="#/info"  ng-class="{'btn-warning':navigation.selectedMenuButton === 'info'}"
            class="btn btn-default navbar-btn btn-block" ng-show="data.bearerToken"
            ng-click="navigation.selectedMenuButton='info'">
            Show Infos
        </a> 
        -->
       
        <div class="checkbox">
            <label><input type="checkbox" ng-model="data.settings.showConsole">Show Debug Console</label>
        </div>
    </div>