<!DOCTYPE html>
<html lang="en" ng-app="dora">
<head>
    <title>DORA - Digital Ocean Remote Admin</title>
    <!-- <meta name="viewport" content="initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="ngmodules/loading-bar.min.css" rel="stylesheet" />
    <style>
        #loading-bar .bar { background: red; height: 5px;}
        /*#loading-bar .peg { box-shadow: red 1px 0 6px 1px;}*/
        #loading-bar-spinner .spinner-icon{ border-top-color:red; border-left-color:red; }
    </style>
</head>

<body ng-controller="DoraMainController">

    <nav class="navbar navbar-default navbar-inverse navbar-static-top">
      <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"  ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Digital Ocean Remote Admin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
            <ul class="nav navbar-nav navbar-left">
                <li ng-class="{'active':navigation.selectedMenuButton === 'setup'}">
                    <a href="#/setup"  

                        ng-click="navigation.selectedMenuButton='setup'">
                        Setup
                    </a>
                </li>

                <li ng-class="{'active':navigation.selectedMenuButton === 'create'}">
                    <a href="#/create/droplet"
                        ng-show="data.bearerToken"
                        ng-click="navigation.selectedMenuButton='create'">
                        Manage Droplets
                    </a>
                </li>
                
                <li>        
                    <a href="#/create/droplet" 
                        ng-show="data.bearerToken"
                        ng-click="navigation.selectedMenuButton='create'; refreshAllDOInfos()">
                        Refresh Infos
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="checkbox">
                        <label style="color: #FFF; margin-right: 2em;" ><input type="checkbox" ng-model="data.settings.showConsole">Show Console</label>
                    </div>
                </li>

            </ul>
        </div>




      </div>
    </nav>
    
    <ng-view />

    <script src="js/angular.min.js"></script>
    <script src="controllers/doraMain.js"></script>
    <script src="ngmodules/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="ngmodules/angular-route.min.js"></script>
    <script src="ngmodules/angular-animate.min.js"></script>
    <script src="ngmodules/loading-bar.min.js"></script>
    <script src="filters/customFilters.js"></script> 
    <script src="js/mousetrap.min.js"></script>
</body>
</html>
